.default-container
  %header
    .header.visible
      .header-inner
        .inner-box
          .logo
            = link_to items_path, class: 'logo-link' do
              %img{class: :"mercari", src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3633094892"}
          .header-form
            %input.input-default{ type: "search", name: "keyword", placeholder: "キーワードから探す"}
            %i.fas.fa-search


        .header-nav-box
          .l-left
            .header-nav
              .search-category
                = link_to "カテゴリーから探す", items_path, class: 'header-nav-root'
              .search-brand
                = link_to "ブランドから探す", items_path, class: 'header-nav-root'

          .l-right
            .header-login-nav
              .login-btn
                = link_to "ログイン", items_path, class: 'btn-red'
              .register-btn
                = link_to "新規会員登録", items_path, class: 'header-signup'
