%nav.bread-crumbs
  %ul
    %li
      = link_to items_path, itemprop: 'url', class: "parent" do
        %span{itemprop: :"title"} メルカリ
      %i.fas.fa-angle-right
    %li.item-name
      %span{itemprop: :"title"} うさぎ

.pay-error
  = h(flash[:notice])

.order-main-container
  .order-main-container__menu
    %span ただいま取引中です
    .order-menu__list
      状態は
      = @order.status_i18n
  .order-main-container__menu
    %span 商品名
    .order-menu__list
      = @order.item.name
  .order-main-container__menu
    %span 値段
    .order-menu__list
      = @order.item.price
  .order-main-container__menu
    %span 出品者
    .order-menu__list
      = @order.item.user.nickname
  .order-main-container__menu
    %span 購入者
    .order-menu__list
      = current_user.nickname

  - if @order.status == "stage0"
    .order-item__pay-btn__box
      = form_with url: pay_user_order_path(current_user.id, @order), method: :post do |f|
        %script.payjp-button{"data-key" => "pk_test_18f78e0ed8a43a14c9e0825e", "data-partial" => "true", :src => "https://checkout.pay.jp/", :type => "text/javascript"}
        = f.submit '入金'


  .order-item__pay-btn
    =link_to item_order_path(params[:item_id],params[:id]), method: :patch, class: "order-item__pay-btn__box__do" do
      .order-item__pay-btn__box
        = @btn

  .order-item__pay-btn
    .order-item__pay-btn__message
      = @message

  .order-item__pay-btn
    =link_to item_order_path(params[:item_id],params[:id]), method: :delete, class: "order-item__pay-btn__box__do" do
      .order-item__pay-btn__box
        = @cancel_message

