%nav.bread-crumbs
  %ul
    %li
      = link_to items_path, itemprop: 'url', class: "parent" do
        %span{itemprop: :"title"} メルカリ
      %i.fas.fa-angle-right
    %li.item-name
      %span{itemprop: :"title"} うさぎ

//商品情報
%section.item-show-container
  %h1.item-name うさぎ
  .item-main-content
    .item-photo
      .owl-carousel
        .owl-stage-outer
          .owl-stage
            .owl-item.active
              .owl-inner
                = image_tag "img.jpeg"
            .owl-item
              .owl-inner
                = image_tag "https://i1.wp.com/innublog.com/wp-content/uploads/2018/03/2018y02m17d_125508541.jpg?resize=396%2C266&ssl=1"
            .owl-item
              .owl-inner
                = image_tag "https://pbs.twimg.com/profile_images/3406268893/54b7e1f981b7df7c817af48d1b96ad5e_400x400.jpeg"
            .owl-item
              .owl-inner
                = image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Vulpes_vulpes_laying_in_snow.jpg/250px-Vulpes_vulpes_laying_in_snow.jpg"
        .owl-dots
          .owl-dot
            = image_tag "img.jpeg", alt: "sample", class: "thumbnail-s"
          .owl-dot
            = image_tag "https://i1.wp.com/innublog.com/wp-content/uploads/2018/03/2018y02m17d_125508541.jpg?resize=396%2C266&ssl=1", alt: "sample", class: "thumbnail-s"
          .owl-dot
            = image_tag "https://pbs.twimg.com/profile_images/3406268893/54b7e1f981b7df7c817af48d1b96ad5e_400x400.jpeg", alt: "sample", class: "thumbnail-s"
          .owl-dot
            = image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Vulpes_vulpes_laying_in_snow.jpg/250px-Vulpes_vulpes_laying_in_snow.jpg", alt: "sample", class: "thumbnail-s"


    %table.item-detail-table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to items_path, class: "seller-name" do
              国木田独歩
        %tr
          %th カテゴリー
          %td
            = link_to items_path, class: "top" do
              うさぎ
            = link_to items_path, class: "middle" do
              %i.fas.fa-angle-right
              かわいい
            = link_to items_path, class: "bottom" do
              %i.fas.fa-angle-right
              飼いたい
        %tr
          %th ブランド
          %td
            = link_to "うさぎ", items_path, class: "brand"
        %tr
          %th 商品のサイズ
          %td 27cm
        %tr
          %th 商品の状態
          %td 新品、未使用
        %tr
          %th 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th 配送の方法
          %td 普通郵便(定形、定形外)
        %tr
          %th 配送元地域
          %td
            = link_to "愛知県", items_path, class: "prefecture"
        %tr
          %th 発送日の目安
          %td 4~7日で発送

  .item-price-box
    %span.price ￥14,500
    %span.tax （税込）
    %span.shipping-fee 送料込み

  .item-description
    %p.item-description-inner
      とてもかわいいうさぎです。
      どれくらいかわいいかというと、もう鬼可愛いです。
      ほんとは手放したくないくらいに。

      しかし私はギャンブルで有り金全てを擦ってしまい、かわいいかわいいうさぎ様に十分なえさを与えることができません。

      ですので、どうか、どうか！
      こちらのうさぎ様を幸せにしてやってください。お願いします！

//出品オプション
.listing-item-change-box
  = link_to "商品の編集", "/items/#{@item.id}/edit", class: "btn-red btn-default"
  %p.text-center or
  .btn-gray.btn-default 出品を一旦停止する
  = link_to "この商品を削除する", "", id: "modal-open",class: "btn-gray btn-default"

//コメントゾーン
.item-detail-message
  .message-container
    //コメント一覧
    .message-content
      = render @comments
    //コメント投稿部分
    .message-content
      %p
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = form_with url: "/items/#{@item.id}/comments" do |f|
        = f.text_area :text, class: 'comment-form'
        = f.submit "コメントする", class: 'comment-btn'


//modalウィンドウ
%aside.modal.is-show.is-animate
  .modal-inner.modal-banner
    .modal-body
      .modal-head.bold 確認
      削除すると二度と復活できません。
      %br 削除する代わりに停止することもできます。
      %br
      %br 本当に削除しますか？
    .modal-box
      .modal-btn.modal-btn-cancel キャンセル
      = link_to "削除する", "/items/#{@item.id}", id: "modal-open",class: "modal-btn modal-btn-submit", method: :delete







