%nav.bread-crumbs
  %ul
    %li
      = link_to items_path, itemprop: 'url', class: "parent" do
        %span{itemprop: :"title"} メルカリ
      %i.fas.fa-angle-right
    %li
      %span{itemprop: :"title"} うさぎ

//商品情報
%section.item-show-container
  %h1.item-name
    = "#{@item.name}"
  %p.item-wording
    #{@item.name}は、1234回の取引実績を持つ
    = link_to "#{@item.user.nickname}", items_path, class: "seller"
    さんから出品されました。
    #{@item.shipping_from_i18n}から#{@item.shipping_date_i18n}で発送されます。
  .item-main-content
    .item-photo
      .owl-carousel
        .owl-stage-outer
          .owl-stage
            .owl-item.active
              .owl-inner
                - @images.each do |image|
                  =image_tag (image.image.url)
        .owl-dots
          = render partial: "image", collection: @images
    %table.item-detail-table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to"#{@item.user.nickname}", items_path, class: "seller-name"
            .face
              .item-user-ratings
                %i.fas.fa-laugh
                55
              .item-user-ratings
                %i.fas.fa-meh
                3
              .item-user-ratings
                %i.fas.fa-tired
                0
        %tr
          %th カテゴリー
          %td
            = link_to items_path, class: "top" do
              = @large_category.name

            = link_to items_path, class: "middle" do
              %i.fas.fa-angle-right
              = @medium_category.name

            -if @small_category_depth.present?
              = link_to items_path, class: "bottom" do
                %i.fas.fa-angle-right
                = @small_category.name

        %tr
          %th ブランド
          %td
            = link_to "#{@item.brand.name}", items_path, class: "brand" if @item.brand.present?
        %tr
          %th 商品のサイズ
          %td="#{@item.size.name}" if @item.size.present?
        %tr
          %th 商品の状態
          %td="#{@item.condition_i18n}"
        %tr
          %th 配送料の負担
          %td="#{@item.shipping_fee_i18n}"
        %tr
          %th 配送の方法
          %td="#{@item.shipping_way_i18n}"
        %tr
          %th 配送元地域
          %td
            = link_to "#{@item.shipping_from_i18n}", items_path, class: "prefecture"
        %tr
          %th 発送日の目安
          %td="#{@item.shipping_date_i18n}"

  .item-price-box
    %span.price="¥" + number_with_delimiter("#{@item.price}")
    %span.tax （税込）
    %span.shipping-fee 送料込み


    = Gon::Base.render_data

    %span.shipping-fee="#{@item.shipping_fee_i18n}"

  - if user_signed_in?
    -unless current_user.id == @item.user_id
      .item-buy-btn
        = link_to new_item_order_path(params[:id]), class: "buy-red" do
          購入画面に進む

  .item-description
    %p.item-description-inner
      ="#{@item.description}"
  .item-button-container
    .item-button-left
      = link_to items_path, class: "icon-like" do
        %i.far.fa-heart
        %span いいね
        %span 234
      = link_to items_path, class: "item-report" do
        %i.fas.fa-flag-checkered
        %span 不適切な商品の報告
    .item-button-right
      = link_to items_path, class: "safe" do
        %i.fas.fa-lock
        %span あんしん・安全への取り組み

//コメントゾーン
.item-detail-message
  .message-container
    //コメント一覧
    .message-content
      = render @comments
    //コメント投稿部分
    .message-content
      %p
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = form_with url: "/items/#{@item.id}/comments" do |f|
        = f.text_area :text, class: 'comment-form'
        = f.submit "コメントする", class: 'comment-btn'


//ネクストリンク
.nav-item-link-prev-next
  .nav-item-link-prev
    = link_to items_path, class: "prev-item" do
      %i.fas.fa-angle-left
      %span 前の商品
  .nav-item-link-next
    = link_to items_path, class: "next-item" do
      %i.fas.fa-angle-right
      %span 次の商品

//SNS
.item-social-media-box
  %ul.social-media-box
    %li
      = link_to items_path, class: "item-show-fb" do
        %i.fab.fa-facebook
    %li
      = link_to items_path, class: "item-show-tw" do
        %i.fab.fa-twitter
    %li
      = link_to items_path, class: "item-show-pin" do
        %i.fab.fa-pinterest

//他商品
.items-box-container.show
  .items-box-container__in-user-profile
  -if @items.present?
    %h2.item-box-head
      = link_to "#{@item.user.nickname}さんのその他の出品", items_path, class: "another-user-items"
      .item-box-head__content
        = render @items
  .items-box-container__in-brands-item
  -if @item.brand.present?
    %h2.item-box-head
      = link_to "#{@item.brand.name}のその他の商品", items_path, class: "another-brand-items"
    .item-box-head__content
      - 5.times do
        %section.show-items
          -# = render 'item'

